In [0]:
%run "../Configuration"

In [0]:
# Define query to extract entityNames from sourceSystem table:
query = f"""
  SELECT entityNames
  FROM   sourceSystem
  WHERE  sourceSystemName = 'AdventureWorks'
  """

# Call query_entityNames function and load json:
entity_names = json.loads(query_entityNames(query))

In [0]:
# Function to create dataframes and temp views from entity names:
create_dataframes_temp_views(entity_names, 'GOLD')

In [0]:
%sql
SELECT first_name, last_name, 
       COLLECT_SET(EmailAddress) AS email_addresses,
       COUNT(DISTINCT EmailAddress) AS unique_email_count
FROM tv_dim_customer_AW
GROUP BY first_name, last_name
HAVING unique_email_count > 1
ORDER BY first_name, last_name;

In [0]:
%sql
SELECT 
    COUNT(*) as number_of_purchases
  , tfs.product_id
  , tdp.ProductName AS product_name
  , tfs.total_sale AS individual_price
  , SUM(tfs.total_sale) as total_sale_amount
FROM tv_fact_sales_order_AW tfs
JOIN tv_dim_products_AW tdp ON tfs.product_id = tdp.ProductID 
GROUP BY product_id, total_sale, tdp.ProductName
ORDER BY total_sale DESC
LIMIT 10;

In [0]:
%sql
SELECT 
    COUNT(*) as number_of_purchases
  , tfs.product_id
  , tdp.ProductName AS product_name
  , tfs.total_sale AS individual_price
  , SUM(tfs.total_sale) as total_sale_amount
FROM tv_fact_sales_order_AW tfs
JOIN tv_dim_products_AW tdp ON tfs.product_id = tdp.ProductID 
GROUP BY product_id, total_sale, tdp.ProductName
ORDER BY number_of_purchases ASC
LIMIT 10;

In [0]:
dbutils.notebook.exit(0)